.rojo {
    color: red;
}

.naranja {
    color: orange;
}

.amarillo {
    color: yellow
}

.verde {
    color: green;
}

.azul_claro {
    color: lightblue;
}

.azul {
    color:blue
}


.morado {
    color: purple;
}

.negro {
    color: black;
}